//Primary Colors
$MC: hsl(176, 50%, 47%);
$DC: hsl(176, 72%, 28%);
$white: rgb(255, 255, 255);

//Neutral Colors
$black: hsl(0, 0%, 37%);
$darkgray: hsl(0, 0%, 48%);
$lightgray: rgb(225, 231, 238);